{% extends "layout.html" %}
{% block content %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Test Tecan Cavro Syringe - {% block title %}{% endblock %}
                        </h1>
                        
                    </div>
                </div>

                <div class="col-md-2">Serial Port:
                          <select id="serial_port">
                              {% for i in params.devices %}
                              <option value="{{i[0]}}">{{i[0]}}</option>
                              {% endfor %}
                          </select>
                      </div>
             
                  <br>
                  <div class="col-lg-16">
                        <h2>Build A Protocol</h2>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="protocolTable">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>From Port</th>
                                        <th>To Port</th>
                                        <th>Hours</th>
                                        <th>Minutes</th>
                                        <th>Seconds</th>
                                        <th>Flow Rate (ul/s)</th>
                                        <th>Volume (ul)</th>
                                        <th>Cycle</th>
                                        <th>Num Repeats</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% if params.len == 0 %}
                                    <tr>
                                        <td>
                                           <label>1</label>
                                        </td>
                                        <td>
                                          <div class = "col-lg-16">
                                            <select id = "from1" class="form-control">
                                                {% for i in params.valves %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                          <div class = "col-lg-16">
                                            <select id = "to1" class="form-control">
                                                {% for i in params.valves %}
                                                  <option value="{{i}}"
                                                    {% if i == 9 %}
                                                    selected
                                                    {% endif %}
                                                  >{{i}}</option>
                                                {% endfor %}
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = "hours1" class="form-control" value="0">
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = "minutes1" class="form-control" value="0">
                                          </div>
                                        </div>
                                        </td>
                                       
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = "seconds1" class="form-control" value="0">
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              
          
          <div class="sandbox">

            <select id="rate1" class="demo-default" placeholder="ul/sec">
                <option value="0">0</option>
                <option value="8.333333333">8.333333333</option>
                <option value="10">10</option>
                <option value="11.66670556">11.66670556</option>
                <option value="13.33333333">13.33333333</option>
                <option value="15.00015">15.00015</option>
                <option value="16.66666667">16.66666667</option>
                <option value="25">25</option>
                <option value="33.33333333">33.33333333</option>
                <option value="41.66666667">41.66666667</option>
                <option value="50">50</option>
                <option value="66.66666667">66.66666667</option>
                <option value="74.99625019">74.99625019</option>
                <option value="83.33333333">83.33333333</option>
                <option value="91.65902841">91.65902841</option>
                <option value="100">100</option>
                <option value="108.3423619">108.3423619</option>
                <option value="116.6588894">116.6588894</option>
                <option value="125">125</option>
                <option value="133.3333333">133.3333333</option>
                <option value="141.6831964">141.6831964</option>
                <option value="150.0150015">150.0150015</option>
                <option value="158.3280557">158.3280557</option>
                <option value="166.6666667">166.6666667</option>
                <option value="333.3333333">333.3333333</option>
                <option value="666.6666667">666.6666667</option>
                <option value="833.3333333">833.3333333</option>
                <option value="1000">1000</option>
                <option value="1162.790698">1162.790698</option>
                <option value="1326.259947">1326.259947</option>
                <option value="1488.095238">1488.095238</option>
                <option value="1650.165017">1650.165017</option>
                <option value="1805.054152">1805.054152</option>
                <option value="2109.704641">2109.704641</option>
                <option value="2538.071066">2538.071066</option>
                <option value="2923.976608">2923.976608</option>
                <option value="3289.473684">3289.473684</option>
                <option value="3597.122302">3597.122302</option>
                <option value="3846.153846">3846.153846</option>
            </select>
          </div>
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input id = "vol1" class="form-control" placeholder="ul" value="0">
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                          <div class = "col-lg-16">
                                            <select id = "cycles1" class="form-control">
                                            <option value="na" selected>---</option>
                                            <option value="Start">Start</option>
                                            <option value="End">End</option>
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input id = "repeats1" class="form-control" placeholder="e.g. 5" value="0">
                                          </div>
                                        </div>
                                        </td>
                                    </tr>
                                    {% else %}
                                    {% for j in params.protocols %}
                                       <tr>
                                        <td>
                                           <label>{{j["num"]}}</label>
                                        </td>
                                        <td>
                                           <div class = "col-lg-12">
                                            <select id = '{{"from" + j["num"]}}' class="form-control">
                                                {% for i in params.valves %}
                                            {% if i == j["fromport"] %}
                                            <option value="{{i}}" selected>{{i}}</option>
                                            {% else %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                          <div class = "col-lg-12">
                                            <select id = '{{"to" + j["num"]}}' class="form-control">
                                                {% for i in params.valves %}
                                                  {% if i == j["toport"] %}
                                            <option value="{{i}}" selected>{{i}}</option>
                                            {% else %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endif %}
                                                {% endfor %}
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = '{{"hours" + j["num"]}}' class="form-control" placeholder="ul/sec" value='{{j["hours"]}}'>
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = '{{"minutes" + j["num"]}}' class="form-control" placeholder="ul/sec" value='{{j["minutes"]}}'>
                                          </div>
                                        </div>
                                        </td>
                                       
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = '{{"seconds" + j["num"]}}' class="form-control" placeholder="ul/sec" value='{{j["seconds"]}}'>
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = '{{"rate" + j["num"]}}' class="form-control" placeholder="ul/sec" value='{{j["rate"]}}'>
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input id = '{{"vol" + j["num"]}}' class="form-control" placeholder="ul" value='{{j["vol"]}}'>
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                          <div class = "col-lg-16">
                                            <select id = "cycles1" class="form-control">
                                            <option value="na" {% if "na" == j["cycles"] %} selected {% endif %}>---</option>
                                            <option value="Start" {% if "Start" == j["cycles"] %} selected {% endif %}>Start</option>
                                            <option value="End" {% if "End" == j["cycles"] %} selected {% endif %}>End</option>
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-16">
                                          <div class="form-group">
                                              
                                              <input  id = '{{"repeats" + j["num"]}}' class="form-control" placeholder="ul/sec" value='{{j["numrepeats"]}}'>
                                          </div>
                                        </div>
                                        </td>
                                    </tr>     
                                     

                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>

                            <button id="newrows" class="btn btn-default">Add New Row</button>
                            <button id="submitProtocolAdv" class="btn btn-default">Submit Protocol</button>
                            <button id="saveProtocol" class="btn btn-default">Save Protocol</button>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                    

                  

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
{% endblock %}
