<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tecan Cavro</title>


    <!-- Third-party javascripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/morris/raphael.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/morris.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/morris/morris-data.js') }}"></script>-->
    {% block headjs %}{% endblock %}

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plugins/morris.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-dashboard"></i> Main Test</a>
                    </li>
                    <li >
                        <a href="{{ url_for('Simple_Commands') }}"><i class="fa fa-fw fa-dashboard"></i> Simple Commands</a>
                    </li>
                    <li >
                        <a href="{{ url_for('Protocol') }}"><i class="fa fa-fw fa-dashboard"></i> Build a Protocol</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        {% block content %}
        {% endblock %}

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->


</body>

</html>
