{% extends "layout.html" %}
{% block content %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Login
                        </h1>
                        
                    </div>
                </div>
                <form action="Login" method="get">
                Username: <input type="text" name="username" placeholder="pi"><br>
                Password: <input type="password" name="password" placeholder="Password"><br>
                 <input type="submit" value="Submit">
                </form>
                OR<br>
                Register
                <form action="Register" method="get">
                  Username: <input type="text" name="username" placeholder="pi"><br>
                  Password: <input type="password" name="password" placeholder="Password"><br>
                  Confirm: <input type="password" name="confirmation" placeholder="Confirm"><br>
                   Email: <input type="text" name="email" placeholder="john_smith@gmail.com"><br>
                
                <input type="submit" value="Submit">
</form>
                
             
                 
                 
                

                    

                  

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
{% endblock %}
