<!doctype html>
<html lang="en">

<head>
  <title>
    Test Tecan Cavro Syringe - {% block title %}{% endblock %}
  </title>

  <!-- Third-party javascripts -->
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

  {% block headjs %}{% endblock %}

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% block headcss %}{% endblock %}

<div class="container">
  <br>
  <div class="row">
      <div class="col-md-2">Serial Port:
          <select id="serial_port">
              {% for i in params.devices %}
              <option value="{{i[0]}}">{{i[0]}}</option>
              {% endfor %}
          </select>
      </div>
      <div class="col-md-2">Valve Port:
          <select id="port_number">
              {% for i in params.valves %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
          </select>
      </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <input type="number" id="extract_volume" name="extract_volume" min="0" max="1000"  class="form-control" placeholder="Extract volume (μL)">
        <span class="input-group-btn">
          <button class="btn btn-default" id="extract_btn" type="button">Extract</button>
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="number" id="dispense_volume" name="dispense_volume" min="0" max="1000" class="form-control" placeholder="Extract volume (μL)">
        <span class="input-group-btn">
          <button class="btn btn-default" id="dispense_btn" type="button">Dispense</button>
        </span>
      </div>
    </div>
  </div>
  <br>
  <div id="debugfield"></div>
</div>




<script type="text/javascript">
$(document).ready(function() {
alert("hi")
$( "#extract_btn" ).click(function( event ) {

    var volume = $( "#extract_volume").val();
    var port = $("#port_number").val();
    var serport = $( "#serial_port").val() || '';
    if ( volume > 0 && volume < 1000) {
        $( "#debugfield" ).text( "Valid extract command..." ).show();
        $.get('extract',
              {'volume': volume,
               'port': port,
               'serial_port': serport
                }
            );
    } else {
        $( "#debugfield" ).text( "Not valid extract command!" ).show().fadeOut( 1000 );
    }
    event.preventDefault();
});

$( "#dispense_btn" ).click(function( event ) {

    var volume = $( "#dispense_volume").val();
    var port = $("#port_number").val();
    var serport = $( "#serial_port").val() || '';
    if ( volume > 0 && volume < 1000) {
        $( "#debugfield" ).text( "Validated dispense command..." ).show();
        $.get('dispense',
              {'volume': volume,
               'port': port,
               'serial_port': serport
                }
            );
    } else {
        $( "#debugfield" ).text( "Not valid dispense command!" ).show().fadeOut( 1000 );
    }
    event.preventDefault();
});

});
</script>

</head>
<body>