{% extends "layout.html" %}
{% block content %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Test Tecan Cavro Syringe - {% block title %}{% endblock %}
                        </h1>
                        
                    </div>
                </div>

                <div class="col-md-2">Serial Port:
                          <select id="serial_port">
                              {% for i in params.devices %}
                              <option value="{{i[0]}}">{{i[0]}}</option>
                              {% endfor %}
                          </select>
                      </div>
             
                  <br>
                  <div class="col-lg-12">
                        <h2>Build A Protocol</h2>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="protocolTable">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>From Port</th>
                                        <th>To Port</th>
                                        <th>Time</th>
                                        <th>Flow Rate</th>
                                        <th>Volume</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    <tr>
                                        <td>
                                           <label>1)</label>
                                        </td>
                                        <td>
                                          <div class = "col-lg-12">
                                            <select id = "from1" class="form-control">
                                                {% for i in params.valves %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                          <div class = "col-lg-12">
                                            <select id = "to1" class="form-control">
                                                {% for i in params.valves %}
                                                  <option value="{{i}}"
                                                    {% if i == 9 %}
                                                    selected
                                                    {% endif %}
                                                  >{{i}}</option>
                                                {% endfor %}
                                            </select> 
                                          </div>
                                        </td>
                                        <td>
                                          <div  class = "col-lg-8">
                                          <div class="form-group">
                                              
                                              <input id = "time1" class="form-control" placeholder="Seconds">
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-8">
                                          <div class="form-group">
                                              
                                              <input  id = "rate1" class="form-control" placeholder="ul/sec">
                                          </div>
                                        </div>
                                        </td>
                                        <td>
                                        <div class = "col-lg-8">
                                          <div class="form-group">
                                              
                                              <input id = "vol1" class="form-control" placeholder="ul">
                                          </div>
                                        </div>
                                        </td>
                                    </tr>
                                    

                                    
                                    
                                  
                                </tbody>
                            </table>
                            <button id="newrows" class="btn btn-default">Add New Row</button>
                            <button id="submitProtocol" class="btn btn-default">Submit Protocol</button>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                    

                  

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
{% endblock %}
